@use 'utils/variables';
@use 'utils/mixins';
@use 'utils/globals';
@use 'base/reset';
@use 'base/typography';
@use 'components/footer';
@use 'components/header';
@use 'components/main/about-team';
@use 'components/main/banner';
@use 'components/main/catalog';
@use 'components/main/hero';
@use 'layout/grid';
@use 'layout/nav';
@use "layout/media";
.main-content{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}


