@use '../utils/variables' as v;

footer{
    background-color: v.$background-color;
    width: 100%;
    h4{
        font-size: 20px;
        margin-bottom: 8px;
    }
    p{
        font-size: 18px;
        color: v.$text-color-p;
    }
}
.footer-container{
    display: flex;
    padding: 23px 0;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-left{
    margin-right: 115px;
    img{
        margin-bottom: 35px;
    }
}
.footer-right{
    display: flex;
    width: 100%;
}
.footer-about{
    display: flex;
    margin-right: auto;
}
.footer-column{
    margin-right: 60px;
    transition: color 0.5s ease;
    cursor: pointer;
    p{
        margin-bottom: 6px;
    }
}
.footer-icons{
    margin-bottom: 20px;
    i{
        margin-right: 30px;
        font-size: 24px;
        transition: color 0.5s ease;
        cursor: pointer;
    }
}
.footer-social{
    p{
        font-size: 12px;
        line-height: 120%;
        margin-bottom: 6px;
    }
}
.footer-column{
    p:hover{
        color: v.$color-hover;
    }
}
.footer-icons{
    i:hover{
        color: v.$color-hover;
    }
}