$font-family: 'Railway', sans-serif;

$background-color: #E1EDE6; //header
$primary-color: #4a925c;
$color-hover: #598D66;
$color-btn-country: #D4E8D9;
$color-btn-country-active: #376B44;
$color-btn-banner: #EEDB6D;
$color-btn-banner-hover: #FAEB97;
$text-color-nav: #2C2D35;
$text-color-p: #86928B;
